<script type="text/javascript">
    function sendNewbrightness%.object_id%() {
        //setGlobal("%.object_title%.level",dimmer%.object_id%level);
		callMethod('%.object_title%.setLevel','value='+dimmer%.object_id%level);
    }
    function dimmerSetbrightness%.object_id%(val) {
		dimmer%.object_id%level=val;
        $('#dimmer%.object_id%_bright').html("Яркость: "+dimmer%.object_id%level);
        sendNewbrightness%.object_id%();
    }
    function sendNewcct%.object_id%() {
        //setGlobal("%.object_title%.cctLevel",dimmer%.object_id%cctLevel);
		callMethod('%.object_title%.setCct','value='+dimmer%.object_id%cctLevel);
    }
    function dimmerSetcct%.object_id%(val) {
        dimmer%.object_id%cctLevel=val;
        $('#dimmer%.object_id%_cct').html("Температура: "+dimmer%.object_id%cctLevel);
        sendNewcct%.object_id%();
    }
</script>

<style>
	.card { background:#f4f4f4; border-radius:12px; padding:15px; box-shadow:0 2px 6px rgba(0,0,0,0.15); margin: 15px 0 15px 50px;}
	input[type=color], input[type=range], select { width:100%; box-sizing:border-box; margin-bottom:8px;}
</style>

<div class="device-widget controller loadtype_%.loadType%">
	<div onClick='$("#icon%.object_id%_light").addClass("pressed");setTimeout("$(\"#icon%.object_id%_light\").removeClass(\"pressed\");",300);callMethod("%.object_title%.switch");'>
		<div class="device-icon %.status|"off;on"%" id="icon%.object_id%_light" style='%.icon|"background-image:url(%.icon%)"%'></div>
		<div class="device-header">%.object_description%</div>
	</div>
</div>

<div class="card">
	<div class="device-details"> <span id="dimmer%.object_id%_bright">Яркость: %.level%</span></div>
	<input type="range" min="0" max="100" value="%.level%" oninput="dimmerSetbrightness%.object_id%(this.value);">
	<div class="device-details"> <span id="dimmer%.object_id%_cct">Температура: %.cctLevel%</span></div>
	<input type="range" min="0" max="100" value="%.cctLevel%" oninput="dimmerSetcct%.object_id%(this.value);">
</div>

